<div class="jumbotron text-center">
    <img src="assets/images/diamond-2028549_960_720 (1).png" alt="logo">
    <h1>Welcome to the <span class="purple">Gems Store</span></h1>

    <div>
        <a *ngIf="!authService.loggedIn()" routerLink="/register" class="btn btn-primary">Register</a>
        <a *ngIf="!authService.loggedIn()" routerLink="/login" class="btn btn-default">Login</a>
        <a *ngIf="authService.loggedIn()" routerLink="/gemstones" class="btn btn-success">View Gemstones</a>
    </div>
</div>

<div class="gemstones-home-image text-center">
    <img class="gemstones-home" src="assets/images/gemstones-jewellery-image.jpg" alt="logo">
</div>