<h1 class="page-header">Gemstones</h1>

<button [disabled]="loadingGems" type="button" name="button" class="btn btn-info" (click)="reloadGems()">
    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>&nbsp;&nbsp;Reload
</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th (click)="sortBy(this.gemstones, this.gemstones[i].name)" let i=index>NAME</th>
            <th>SPARKLE</th>
            <th>PRICE</th>
            <th>FOR SALE</th>
            <th>CREATED BY</th>
            <th>CREATED ON</th>
            <th>UPDATED ON</th>
            <th>ACTION</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <!-- <pre>{{ edelstenen | json }}</pre>-->
        <ng-container *ngFor="let gem of gemstones">
            <tr>
                <td>{{ gem.name }}</td>
                <td>{{ gem.sparkle }}</td>
                <td>{{ gem.price | currency:'EUR':'symbol':'1.2-2' }}</td>
                <td><button *ngIf="gem.forSale">BUY</button></td>
                <td>{{ gem.createdBy }}</td>
                <td>{{ gem.createdOn | date:'dd/MM/yyyy' }}</td>
                <td *ngIf="gem.updatedOn === null"></td>
                <td *ngIf="gem.updatedOn !== null">{{ gems.updatedOn | date:'dd/MM/yyyy' }}</td>
                <td><button type=" button " value="delete " class="btn btn-danger ">DELETE</button></td>
                <td><button type="button " value="delete " class="btn btn-primary ">EDIT</button></td>
            </tr>
        </ng-container>

    </tbody>
</table>