<h1 class="page-header">Gemstones</h1>

<button [disabled]="loadingGems" type="button" name="button" class="btn btn-info pull-right reload" (click)="reloadGems()">
    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>&nbsp;&nbsp;Reload
</button>


<table class="table table-striped">
    <thead>
      
        <tr>
                <i class="fa fa-chevron-up" *ngIf="!isAsc" ></i>
                <i class="fa fa-chevron-down" *ngIf="isAsc" ></i>
            <ng-container *ngFor="let head of headers">
                
            <th (click)="sortBy(head.name, isAsc, $event)" (click)="onSelect(head)" [ngClass]="{'active': head == selectedId}" [attr.id]="1" >{{ head.name }}   
            </th>
            <!--<th (click)="sortBy('sparkle', isAsc, $event)" [ngClass]="{'active': isClassVisible}" [attr.id]="2" >{{ head.name }}
                <i class="fa fa-chevron-up" *ngIf="!isAsc" ></i>
                <i class="fa fa-chevron-down" *ngIf="isAsc" ></i>
            </th>
            <th (click)="sortBy('price', isAsc, $event)" [ngClass]="{'active': isClassVisible}" [attr.id]="3" >PRICE
                <i class="fa fa-chevron-up" *ngIf="!isAsc" ></i>
                <i class="fa fa-chevron-down" *ngIf="isAsc" ></i>
            </th>
            <th>FOR SALE</th>
            <th (click)="sortBy('createdBy', isAsc, $event)" [ngClass]="{'active': isClassVisible}" [attr.id]="5" >CREATED BY
                <i class="fa fa-chevron-up" *ngIf="!isAsc" ></i>
                <i class="fa fa-chevron-down" *ngIf="isAsc" ></i>
            </th>
            <th (click)="sortBy('createdOn', isAsc, $event)" [ngClass]="{'active': isClassVisible}" [attr.id]="6" >CREATED ON
                <i class="fa fa-chevron-up" *ngIf="!isAsc" ></i>
                <i class="fa fa-chevron-down" *ngIf="isAsc" ></i>
            </th>
            <th (click)="sortBy('updatedOn', isAsc, $event)" [ngClass]="{'active': isClassVisible}" [attr.id]="7" >UPDATED ON
                <i class="fa fa-chevron-up" *ngIf="!isAsc" ></i>
                <i class="fa fa-chevron-down" *ngIf="isAsc" ></i>
            </th>
            <th>ACTION</th>
            <th></th>-->
            </ng-container>
    </tr>
        
    </thead>

    <tbody>
        <!-- <pre>{{ gemstones[0].name | json }}</pre> -->
        <ng-container *ngFor="let gem of gemstones">
            <tr>
                <td></td>
                <td>{{ gem.name }}</td>
                <td>{{ gem.sparkle }}</td>
                <td>{{ gem.price | currency:'EUR':'symbol':'1.2-2' }}</td>
                <td><button *ngIf="gem.forSale">BUY</button></td>
                <td>{{ gem.createdBy }}</td>
                <td>{{ gem.createdOn | date:'dd/MM/yyyy' }}</td>
                <td *ngIf="gem.updatedOn === null"></td>
                <td *ngIf="gem.updatedOn !== null">{{ gem.updatedOn | date:'dd/MM/yyyy' }}</td>
                <td>
                    <a [routerLink]="['/deleteGem/', gem._id]" *ngIf="username == gem.createdBy">
                        <button type="button" name="delete-button" class="btn btn-sm btn-danger">DELETE</button>
                    </a>
                </td>
                <td>
                    <a [routerLink]="['/updateGem/', gem._id]" *ngIf="username == gem.createdBy">
                        <button type="button" name="edit-button" class="btn btn-sm btn-primary">EDIT</button>
                    </a>
                </td>
            </tr>
        </ng-container>

    </tbody>
</table>